{% extends "app/parts/base.html" %}
{% load static %}
{% block navbar  %}
	{% include "app/parts/navbar-static.html" %}
{% endblock navbar  %}
{% block content %}
	
	
	<!-- Cart -->


	
	<!-- Product -->
	<div class="bg0 m-t-23 p-b-140">
		<div class="container">
			{% block search %}
      			{% include 'app/parts/search.html' %}
    		{% endblock %}
			<div class="row isotope-grid" id="product-grid">
				{% include 'app/parts/product_grid_items.html' %}
			</div>
			<!-- Load more -->
			<div class="flex-c-m flex-w w-full p-t-45" id="load-more-container" {% if not page_obj or not page_obj.has_next %}style="display:none;"{% endif %}>
				<a href="#" id="load-more-button" class="flex-c-m stext-101 cl5 size-103 bg2 bor1 hov-btn1 p-lr-15 trans-04" data-next-page="{% if page_obj and page_obj.has_next %}{{ page_obj.next_page_number }}{% else %}2{% endif %}" data-base-url="{% url 'product' %}?{% if query_string %}{{ query_string }}&{% endif %}ajax=1&">
					Load More
				</a>
			</div>
		</div>
	</div>
		

	

	<!-- Back to top -->
	<div class="btn-back-to-top" id="myBtn">
		<span class="symbol-btn-back-to-top">
			<i class="zmdi zmdi-chevron-up"></i>
		</span>
	</div>

{% endblock content %}

{% block extra_scripts %}
<script>
	$(function() {
		var $container = $('#product-grid');
		var $loadMore = $('#load-more-container');

		$(document).on('click', '#load-more-button', function(event) {
			event.preventDefault();
			var $btn = $(this);
			var nextPage = parseInt($btn.data('next-page'), 10);
			if (!$btn.length || isNaN(nextPage) || !$container.length) {
				return;
			}
			if ($btn.data('loading')) {
				return;
			}
			$btn.data('loading', true).text('Loading...');
			var url = $btn.data('base-url') + 'page=' + nextPage;

			$.get(url)
				.done(function(data) {
					if (data.html) {
						var $items = $(data.html);
						$container.append($items);
						if ($.fn.isotope && $container.data('isotope')) {
							$container.isotope('appended', $items);
							$container.isotope('layout');
						}
					}

					if (data.has_next) {
						$btn.data('next-page', nextPage + 1).text('Load More');
					} else {
						$loadMore.hide();
					}
				})
				.fail(function() {
					$btn.text('Try Again');
				})
				.always(function() {
					$btn.data('loading', false);
				});
		});
	});
</script>
{% endblock extra_scripts %}